body {
  background-color: #FFB6C1;
}

.topnav {
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #3a4660;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size; 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #3a4660;
  color: white;
}

.banner {
  width: 698px;
  height: 200px;
  display: block;
  margin: 30px auto;
  opacity: 0.8;
  border-style: inset;
}

.tagline h1 {
  align-self: center;
  text-align: center;
  color: #3a4660;
}

.welcome {
  font-size: 24px;
  display: block;
  margin: 10px auto;
  text-align: center;
  color: black;
}

.welcomeContainer {
  background-color: white;
  opacity: 0.5;
  margin: auto 30px;
  border-style: inset;
  max-height: 200px;
}

.commissionContainer {
  background-color: white;
  opacity: 0.5;
  margin: auto 30px;
  border-style: inset;
  max-height: 150px;
}

.products {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  flex-wrap: wrap;
  margin: 20px 50px;;
}

.product {
  display: inline-block;
  padding: 10px;
  height: auto;
  background-color: white;
  opacity: 0.8;
  border-style: inset;
  margin: 10px;
  width: 270px;
}


.product h4 {
  display: flex;
  justify-content: center;
}


.product img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.figures {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}




.hidden {
  opacity: 0;
}

.shown {
  opacity: 1;
}

.fade {
  transition: opacity 2s;
}



//*
<style type="text/css">
<!--
.style3 {font-size: 24px; font-weight: bold; font-style: italic; }
.style4 {
	font-size: 18px;
	font-weight: bold;
}
.style6 {font-size: 24px; }
.style7 {font-size: 36px}
body {
	background-image: url(pussbg.jpg);
	background-repeat: repeat;
}
-->
</style>
