body {
  background-color: #FFB6C1;
}

.topnav {
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #3a4660;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size; 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #3a4660;
  color: white;
}

.banner {
  width: 698px;
  height: 200px;
  display: block;
  margin: 30px auto;
  opacity: 0.8;
  border-style: inset;
}

.tagline h1 {
  align-self: center;
  text-align: center;
  color: #3a4660;
}

.welcome {
  font-size: 24px;
  display: block;
  margin: 10px auto;
  text-align: center;
  color: black;
}

.welcomeContainer {
  background-color: white;
  opacity: 0.5;
  margin: auto 30px;
  border-style: inset;
  max-height: 200px;
}

.commissionContainer {
  background-color: white;
  margin: auto 30px;
  border-style: inset;
  max-height: 150px;
}

.products {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  flex-wrap: wrap;
  margin: 20px 50px;;
}

.product {
  display: inline-block;
  padding: 10px;
  height: auto;
  background-color: white;
  opacity: 0.8;
  border-style: inset;
  margin: 10px;
  width: 270px;
}


.product h4 {
  display: flex;
  justify-content: center;
}


.product img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.figures {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.carouselbox {
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  width: 400px;
  position: relative;
  margin-top: 80px;
  border: 1px solid #ccc;
  box-shadow: 2px 3px 10px #ccc;
  overflow: hidden;
}

.content {
  margin: 0;
  padding: 0;
  width: 1300px;
  overflow: hidden;
  position: relative;
}

.transitioning {
  transition: margin-left 2s;
}


.content li {
  font-size: 100px;
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  width: 400px;
}

.carouselbox .active {
  height: 130px;
  color: blue;
}

.carouselbox .active li {
  position: absolute;
  top: 200px;
}

.carouselbox .active li.current {
  top: 30px;
}

.carouselbox .active .buttons {
  padding: 5px 0;
  background: #eee;
  text-align: center;
  z-index: 10;
  position: relative;
}

.carouselbox .button {
  border: none;
  display: none;
}

.carouselbox .active .button {
  display: block;
}

.offscreen {
  position: absolute;
  left: -2000px;
}



.hidden {
  opacity: 0;
}

.shown {
  opacity: 1;
}

.fade {
  transition: opacity 2s;
}



//*
<style type="text/css">
<!--
.style3 {font-size: 24px; font-weight: bold; font-style: italic; }
.style4 {
	font-size: 18px;
	font-weight: bold;
}
.style6 {font-size: 24px; }
.style7 {font-size: 36px}
body {
	background-image: url(pussbg.jpg);
	background-repeat: repeat;
}
-->
</style>
